<svg width="500" height="500" viewBox="-250 -250 500 500">
    <g id="outer-ring">
        <g *ngFor="let group of chordDiagramVm.chordGroups" >
            <path [attr.id]="group?.name" [attr.d]="group?.path" [attr.fill]="group?.colour">
                <title>{{ group?.tooltip}}</title>
            </path>
            <text dy="-3">
                <textPath [attr.href]="group?.href">{{group?.name}}</textPath>
            </text>
        </g>
    </g>
    <g id="chords">
        <path class="chord-path" *ngFor="let chord of chordDiagramVm.chordVms" [attr.d]="chord?.path" [attr.fill]="chord?.sourceGroup?.colour" [attr.stroke]="chord?.sourceGroup?.colour" opacity="0.8">
            <title>{{ chord?.tooltip}}</title>
        </path>
    </g>
</svg>
